//  BACKGROUND  =================================================================
.background {
	& img {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

}

//  LABEL  =================================================================
.label {
	&__title {
		text-align: center;
		position: relative;
		@include adaptiv-value('font-size', 28, 20, 1);
		text-transform: uppercase;
		font-weight: 600;
	}

	&__pattern {
		@include adaptiv-value('font-size', 40, 24, 1);
		@include adaptiv-value('line-height', 45, 30, 1);
		@include adaptiv-value('margin-top', 14, 7, 1);
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__left {
		@include adaptiv-value('width', 90, 60, 1);
		@include adaptiv-value('height', 2, 1.5, 1);
		height: 2px;
		background-color: #fff;
	}

	&__center {
		@include adaptiv-value('width', 7, 5, 1);
		@include adaptiv-value('height', 7, 5, 1);
		background-color: #fff;
		transform: rotate(45deg);
		margin: 0px 10px 0px 10px;

		&_soc {
			position: relative;
			transform: rotate(45deg);

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				@include adaptiv-value('width', 7, 5, 1);
				@include adaptiv-value('height', 7, 5, 1);
				background-color: #fff;
				transform: rotate(45deg);
			}
		}
	}

	&__right {
		@include adaptiv-value('width', 90, 60, 1);
		@include adaptiv-value('height', 2, 1.5, 1);
		background-color: #fff;
	}
}

//  MAIN  =================================================================
.main {
	position: relative;
	z-index: 2;
}

//  CAPTION  =================================================================
.caption {
	@include adaptiv-value('padding-top', 75, 20, 1);
	@include adaptiv-value('padding-bottom', 50, 70, 1);
	padding-right: 15px;
	padding-left: 15px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	&__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}


	&__title {
		@include adaptiv-value('font-size', 40, 22, 1);
		@include adaptiv-value('line-height', 45, 28, 1);

		& span {
			font-weight: 600;
		}
	}

	&__subtitle {
		@include adaptiv-value('margin-top', 20, 22, 1);
		@include adaptiv-value('font-size', 30, 18, 1);
		@include adaptiv-value('line-height', 35, 20, 1);
	}



	&__post {
		@include adaptiv-value('font-size', 22, 16, 1);
		@include adaptiv-value('line-height', 25, 20, 1);

		&:last-child {
			@include adaptiv-value('margin-top', 13, 8, 1);
		}
	}
}

.main-caption {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__label {
		text-transform: uppercase;
		@include adaptiv-value('font-size', 40, 22, 1);
		font-weight: 600;
	}

	&__medium {
		@include adaptiv-value('font-size', 40, 24, 1);
		@include adaptiv-value('line-height', 45, 30, 1);
		@include adaptiv-value('margin-top', 14, 14, 1);
		@include adaptiv-value('margin-bottom', 14, 14, 1);
		font-weight: 600;
		display: flex;
		align-items: center;
	}

	&__left {
		@include adaptiv-value('width', 60, 37, 1);
		@include adaptiv-value('height', 2, 1.5, 1);
		height: 2px;
		background-color: #fff;
	}

	&__center {
		@include adaptiv-value('width', 7, 5, 1);
		@include adaptiv-value('height', 7, 5, 1);
		background-color: #fff;
		border-radius: 50%;
		margin: 0px 10px 0px 10px;
	}

	&__right {
		@include adaptiv-value('width', 60, 37, 1);
		@include adaptiv-value('height', 2, 1.5, 1);
		background-color: #fff;
	}
}

//  PROGRAMM  =================================================================
.programm {
	@include adaptiv-value('padding-top', 30, 0, 1);
	@include adaptiv-value('max-width', 700, 300, 1);
	margin: 0 auto;

	&__list {
		@include adaptiv-value('margin-top', 35, 20, 1);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__point {
		&:not(:first-child) {
			@include adaptiv-value('margin-top', 25, 15, 1);
		}

		@include adaptiv-value('line-height', 28, 18, 1);
		@include adaptiv-value('font-size', 24, 16, 1);
		font-weight: 600;
		text-align: center;

	}

	&__author {
		font-weight: 500;
		@include adaptiv-value('font-size', 20, 12, 1);
		@include adaptiv-value('line-height', 28, 16, 1);
	}

	&__solo {
		font-weight: normal;
		@include adaptiv-value('font-size', 20, 12, 1);
	}
}


//  CONTACTS  =================================================================
.contacts {
	@include adaptiv-value('margin-top', 70, 30, 1);
	@include adaptiv-value('padding-bottom', 50, 30, 1);

	&__wrapper {
		@include adaptiv-value('margin-top', 30, 15, 1);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__column {
		flex: 0 0 50%;
		text-align: center;
	}

	&__title {
		@include adaptiv-value('font-size', 24, 16, 1);
		@include adaptiv-value('line-height', 26, 18, 1);

		& span {
			display: block;
			font-weight: 600;
		}
	}

	&__body {
		margin: 10px auto 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 15px;
		row-gap: 10px;
	}

	&__link {
		@include adaptiv-value('width', 40, 30, 1);
		@include adaptiv-value('height', 40, 30, 1);
		background-color: #fff;
		border-radius: 50%;
		position: relative;


		&:not(:last-child) {
			@include adaptiv-value('padding-right', 9, 14, 1);
		}

		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70%;
			height: 70%;
			transform: translate(-50%, -50%);
		}
	}

	@media (max-width: em(600)) {
		&__column {
			flex: 0 0 100%;
			text-align: center;

			&:not(:first-child) {
				@include adaptiv-value('margin-top', 25, 20, 1);
			}
		}
	}
}